* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(26, 11, 11); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 10%,
    rgba(26, 11, 11, 1) 65%,
    rgba(0, 212, 255, 1) 160%
  );
  font-family: sans-serif, Arial, Helvetica;
  color: rgb(151, 129, 129);
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 20px;
  border-bottom: 1px solid rgb(83, 83, 159);
}

li::marker {
  color: rgb(83, 83, 159);
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: rgb(151, 129, 129);
  margin: 5px 0;
  display: none;
}

.tech_stack {
  font-family: inherit;
  font-size: 1.5rem;
  margin: 1.5rem;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(26, 11, 11);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 159);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 212, 255, 1);
}

.contact_logos {
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 5rem;
}

.go-up-button {
  position: fixed;
  bottom: 6rem;
  right: 12rem;
  padding: 10px;
  background-color: rgb(151, 129, 129);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none; /* Initially hidden */
  transition: opacity 0.3s ease;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    /* background-color: rgb(26, 11, 11); */
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 10%,
      rgba(26, 11, 11, 1) 65%,
      rgba(0, 212, 255, 1) 230%
    );
    font-family: sans-serif, Arial, Helvetica;
    color: rgb(151, 129, 129);
  }

  h1 {
    color: rgb(151, 129, 129);
    font-size: 46px;
    font-weight: 300;
    line-height: 120%;
    font-family: inherit;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    color: rgb(83, 83, 159);
    margin-bottom: 2rem;
    font-family: inherit;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    line-height: 150%;
    font-family: inherit;
  }

  /* NAVBAR MOBILE*/

  .dropdown-content {
    display: none;
  }

  .dropdown-content.active {
    display: block;
  }

  .nav__item.dropdown-mobile {
    display: block; /* Show the dropdown menu on mobile */
    position: relative;
  }

  .nav__item.dropdown-mobile:hover .dropdown-content {
    display: block;
  }

  /* Dropdown Button */
  .nav__item.dropdown {
    position: relative;
  }

  .nav__link.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  /* Dropdown Content (Hidden by Default) */
  .nav__item.dropdown-mobile .dropdown-content {
    display: none; /* Hide the dropdown menu content on mobile */
  }

  .nav__item.dropdown-mobile .hamburger-icon {
    display: block; /* Show the hamburger icon on mobile */
  }

  .nav__item.dropdown-mobile:hover .dropdown-content {
    display: block; /* Show the dropdown menu content on mobile on hover */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(151, 129, 129);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* HEADER MOBILE */

  .header {
    margin-right: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 6px;
  }

  .nav__item {
    margin-left: 1rem;
  }

  .header-title {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 6px;
    margin-left: 0.5rem;
    margin-top: 4rem;
  }

  .btn {
    font-weight: 500;
    color: inherit;
    font-size: 1.7rem;
  }

  /* SECTION MOBILE */

  .section_title {
    margin-top: 4rem;
  }

  .section {
    transition: transform 1s, opacity 1s;
    margin-bottom: 2rem;
  }

  .nav__link:link,
  .nav__link:visited,
  .footer-item:link,
  .footer-item:visited,
  .btn:visited,
  .btn:link .a:link,
  .a:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(151, 129, 129);
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }

  .footer-item:hover,
  .nav__link:hover,
  .btn:hover,
  .a:hover {
    display: block;
    text-decoration: none;
    color: rgb(83, 83, 159);
    transition: 0.3s;
    transform: scale(1.15);
  }

  /* FOOTER MOBILE */

  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .footer-item {
    display: flex;
    align-self: center;
    list-style: none;
    margin-top: 2rem;
    text-align: center;
  }

  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  .copyright_text {
    font-size: 12px;
    margin-top: 2rem;
  }

  .go-up-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1 {
    color: rgb(151, 129, 129);
    font-size: 46px;
    font-weight: 300;
    line-height: 120%;
    font-family: inherit;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    color: rgb(83, 83, 159);
    margin-bottom: 2rem;
    font-family: inherit;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    line-height: 150%;
    font-family: inherit;
  }

  /* NAVBAR DESKTOP */

  .nav__item.dropdown-mobile .dropdown-content {
    /* Show the dropdown menu content on desktop */
    display: flex;
  }

  .nav__item.dropdown-mobile .hamburger-icon {
    display: none; /* Hide the hamburger icon on desktop */
  }

  /* HEADER DESKTOP */

  .header {
    padding: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .dropdown-content a {
    margin-right: 6rem;
  }

  .btn--contact {
    margin-right: 4rem;
  }

  .header-title {
    display: grid;
    align-content: center;
    justify-content: left;
    padding: 6px;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-bottom: 16rem;
  }

  .nav__links {
    display: flex;
    align-items: left;
    list-style: none;
  }

  .nav__item {
    margin-left: 2rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 6px;
  }

  .btn {
    font-weight: 500;
    color: inherit;
    font-size: 1.7rem;
  }

  /* SECTION DESKTOP */

  .section_title {
    margin-left: 0.25rem;
  }

  .section {
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;
    transition: transform 1s, opacity 1s;
  }

  .nav__link:link,
  .nav__link:visited,
  .footer-item:link,
  .footer-item:visited,
  .btn:visited,
  .btn:link .a:link,
  .a:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(151, 129, 129);
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }

  .footer-item:hover,
  .nav__link:hover,
  .btn:hover,
  .a:hover {
    display: block;
    text-decoration: none;
    color: rgb(83, 83, 159);
    transition: 0.3s;
    transform: scale(1.15);
  }

  /* FOOTER DESKTOP */

  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .footer-item {
    display: flex;
    align-self: center;
    list-style: none;
    margin-top: 2rem;
    text-align: center;
  }

  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  .copyright_text {
    margin-top: 2rem;
    font-size: 16px;
  }

  .go-up-button:hover {
    background-color: #0056b3;
  }
}
